<div class="col-md-6 mx-auto mb-5">
  <h1 class="center bold">Friends Page</h1>

  <h2> Registered Users </h2>
  <button type="button" class="btn btn-primary">Invite</button>

  <h2> Friend Requests </h2>
  <button type="button" class="btn btn-success">Accept</button>
  <button type="button" class="btn btn-danger">Decline</button><br />

  <!-- Navigation buttons to Profile and Logout Pages --> 
  <button type="button" class="btn btn-default">
    <%= link_to 'My Profile', view_profile_path(current_user) %>
  </button>

  <button type="button" class="btn btn-default">
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </button>
</div>